.content{
    margin: 200px;
    align-content: center;
    align-items: center;
}
.employee-card {
    margin: auto;
    padding: auto;
    box-shadow: 20px;
    border-radius: 2px;
    align-content: center;
    align-items: center;
}

.title {
    margin: auto;
}

.example-full-width {
    width: 100%;
    text-align: ;
}
mat-card {
    max-width: 100%;
}
.titleName{
    font-size: 20px;
}


